.button {
  height: 48px;
  border-radius: 50px;
  background-color: $color-grey-4;
  font-family: $font-3;
  padding: 0 28px;
  @include text(rem(16px), 700, $color-white, initial);
  @include border;
  @include transition (all);

    &:hover {
      background-color: $color-green-8;
    }
    &:focus {
      background-color: $color-grey-4;
      border-color: $color-green-8;
    }
}